# **Day 2 - Data Types**

  ## **Assignment Instructions** 
### **Explore different function calls associated with each data types (Min 10 for each dat types) other than covered in class. Create code snippet for each operation on data type.**

## **Data Types**
<h3>
  <ul>
    <li>Strings</li>
    <li>List</li>
    <li>Tuple</li>
    <li>Dictionary</li>
    <li>Set</li>
  </ul>
</h3>

## **Strings**

In [108]:
#Check functions associated with string data type
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### 1. **swapcase()** - Make the lower case letters upper case and the upper case letters lower case

In [109]:
txt = "WelCome To ManiPal"

x = txt.swapcase()

print(x)

wELcOME tO mANIpAL

### **2. isdecimal()** - The isdecimal() method returns True if all the characters are decimals (0-9)

In [110]:
txt = "12354" 

x = txt.isdecimal()

print(x)

True

### **3. isidentfier()** - The isidentifier() method returns True if the string is a valid identifier, otherwise False.

In [111]:
#Check if the string is a valid identifier
txt = "Demo"

x = txt.isidentifier()

print(x)

True

### **4. isspace()** - The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

In [112]:
#Check if all the characters in a string are whitespace
txt = "   "

x = txt.isspace()

print(x)

True

### **5. partition()** - The partition() method searches for a specified string, and splits the string into a tuple containing three elements.
- The first element contains the part before the specified string.

- The second element contains the specified string.

- The third element contains the part after the string.

In [113]:
#Search for the word "Manipal", and return a tuple with three elements:
txt = "Hey, Manipal is a great city"

x = txt.partition("Manipal")

print(x)

('Hey, ', 'Manipal', ' is a great city')

### **6. find()** - The find() method finds the first occurrence of the specified value

In [114]:
#Where in the text is the word "welcome"?
txt = "Hello, welcome to Manipal."

x = txt.find("welcome")

print(x)

7

### **7. isascii()** - The isascii() method returns True if all the characters are ascii characters  (a-z).

In [115]:
#Check if all the characters in the text are ascii characters:
txt = "Manipal123"

x = txt.isascii()

print(x)

True

### **8. split()** - TThe split() method splits a string into a list.

In [116]:
#Split a string into a list where each word is a list item:
txt = "Lab 3 Assignment"

x = txt.split()

print(x)

['Lab', '3', 'Assignment']

### **9. Capitalize()** - TThe capitalize() method returns a string where the first character is upper case, and the rest is lower case.

In [117]:
#Upper case the first letter in the sentence
txt = "hello, and welcome to MSIS."

x = txt.capitalize()

print (x)

Hello, and welcome to msis.

### **10. center()** - TThe center() method will center align the string, using a specified character (space is default) as the fill character.

In [118]:
#take up space of 50 characters and align manipal to the center
txt = "Manipal"

x = txt.center(50)

print(x)

                     Manipal

## **Lists**

In [119]:
# Check methods associated with list
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### **Note**: list data type  has only 11 built in methods

### **1. append()** - The append() method appends an element to the end of the list.

In [120]:
# Add an element to the fruits list:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

### **2. clear()** - Removes all the elements from the list

In [121]:
#clear fruits list
fruits.clear();
fruits

[]

### **3. copy()** - Returns copy of the list

In [122]:
#Copy list1 to list2
list1 = ["Rock","Paper","Scissor","Pencil"];
list2 = list1.copy()
print(list2)

['Rock', 'Paper', 'Scissor', 'Pencil']

### **4. insert()** - TThe insert() method inserts the specified value at the specified position.

In [123]:
#Insert 'Pencil' after paper in the list 
list1.insert(2,"Pencil")
list1

['Rock', 'Paper', 'Pencil', 'Scissor', 'Pencil']

### **5. count()** - Returns  number of values with soecified elements

In [124]:
#Count Pencil in list1
count = list1.count("Pencil")
count

2

### **6. extend()** - Add the elements of a list (or any iterable), to the end of the current list

In [125]:
# Add fruits to Grocery
fruits = ['apple', 'banana', 'cherry']
grocery = ["eggs","milk","bread"]

grocery.extend(fruits)
grocery

['eggs', 'milk', 'bread', 'apple', 'banana', 'cherry']

### **7. index()** - Returns the index of the first element with the specified value

In [126]:
#Find index of bread in grocery list
x = grocery.index("bread")
x

2

### **8. pop()** - Removes the element at the specified position

In [127]:
#Pop cherry from grocery
grocery.pop(5)
grocery

['eggs', 'milk', 'bread', 'apple', 'banana']

### **9. remove()** - Removes the item with the specified value

In [128]:
#Remove milk from grocery list
grocery.remove("milk")
grocery

['eggs', 'bread', 'apple', 'banana']

### **10. reverse()** - TReverses the order of the list

In [129]:
#Reverse groccery

grocery.reverse()

grocery

['banana', 'apple', 'bread', 'eggs']

### **11. sort()** - Sorts the list

In [130]:
#using sort method
sort_list = [5,8,4,2,9,5]

sort_list.sort()

sort_list

[2, 4, 5, 5, 8, 9]

## **Tuples**

In [131]:
# Check methods associated with tuple datatype

dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

### **Note**: tuple data type  has only 2 built in methods index() and count()

### **1. index()** - Searches the tuple for a specified value and returns the position of where it was found

In [132]:
#Search first occurence of bakery
my_tuple = ("tiger",1,"bakery", 15, "cat")

#Returns index of the element
x = my_tuple.index("bakery")

x

2

### **2. count()** - Returns the number of times a specified value occurs in a tuple

In [133]:
new_tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5,7)

x = new_tuple.count(7)

x

3

## **Dictionary**

In [134]:
# Check built- in methods associated with Dictionary datatype

dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### **Note**: Dicitionary has 10 built in methods

### **1. clear()** - Removes all the elements from the dictionary

In [135]:
# Remove all elemnts from car dict
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

car

{}

### **2. copy()** - Returns a copy of the dictionary

In [136]:
#Copy the car dictionary:

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.copy()

x

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### **3. fromkeys()** - The fromkeys() method returns a dictionary with the specified keys and the specified value.

In [137]:
#Create a dictionary with 3 keys, all with the value 7:

x = ('key1', 'key2', 'key3')
y = 7

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 7, 'key2': 7, 'key3': 7}

### **4. get()** - The get() method returns the value of the item with the specified key.

In [138]:
#Get value of branch

student = {
  "Roll Number": 211058019,
  "Name": "Prathik",
  "Branch": "BDA"
}

x = student.get("Branch")

x

'BDA'

### **5. items()** - Returns a list containing a tuple for each key value pair

In [139]:
#Return the dictionary's key-value pairs:

x = student.items()

x

dict_items([('Roll Number', 211058019), ('Name', 'Prathik'), ('Branch', 'BDA')])

### **6. keys()** - Returns a list containing the dictionary's keys

In [140]:
#Print the keys

x = student.keys()

x

dict_keys(['Roll Number', 'Name', 'Branch'])

### **7. pop()** - Removes all the elements from the dictionary

In [141]:
# Remove branch from dictionary

student.pop("Branch")

student

{'Roll Number': 211058019, 'Name': 'Prathik'}

### **8. update()** -Updates the dictionary with the specified key-value pairs

In [142]:
# Add key branch with value Big Data Analytics

student.update({"Branch":"Big Data Analytics"})

student

{'Roll Number': 211058019, 'Name': 'Prathik', 'Branch': 'Big Data Analytics'}

### **9. setdefault()** - he setdefault() method returns the value of the item with the specified key. If the key does not exist, insert the key, with the specified value, see example below

In [143]:
# Set default college as MSIS

student.setdefault("College","MSIS")
print(student)

#College remains unchanged when new default is set since college already exists
student.setdefault("College","MIT")
print(student)

{'Roll Number': 211058019, 'Name': 'Prathik', 'Branch': 'Big Data Analytics', 'College': 'MSIS'}
{'Roll Number': 211058019, 'Name': 'Prathik', 'Branch': 'Big Data Analytics', 'College': 'MSIS'}

### **10. Values()** - Returns a list of all the values in the dictionary

In [144]:
# Values of student

x = student.values()

x

dict_values([211058019, 'Prathik', 'Big Data Analytics', 'MSIS'])

### **11. popitem()** - The popitem() method removes the item that was last inserted into the dictionary.

In [145]:
#pop last item of students

student.popitem()

student

{'Roll Number': 211058019, 'Name': 'Prathik', 'Branch': 'Big Data Analytics'}

## **Sets**

In [157]:
# Check methods associated with sets
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### **1. add()** - Adds an element to the set

In [147]:
# Add orange to grocery
#  
grocery = {"egg", "milk", "banana"}

grocery.add("orange")

grocery

{'banana', 'egg', 'milk', 'orange'}

### **2. difference()** -Returns a set containing the difference between two or more sets

In [148]:
#Find new element in grocery list
grocery_old = {"egg", "milk", "banana"}
grocery_new = {"egg", "milk", "banana","orange"}

item = grocery_new.difference(grocery_old)

item

{'orange'}

### **3. discard()** -RThe discard() method removes the specified item from the set.

In [149]:
# Remove egg fron the set

grocery.discard("egg")

grocery

{'banana', 'milk', 'orange'}

### **4. Intersecion()** -RThe intersection() method returns a set that contains the similarity between two or more sets.

In [150]:
#Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

z

{'apple'}

### **5. issubset()** -he issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

In [151]:
#Return True if all items in set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

subset = x.issubset(y)

subset

True

### **6. issuperset()** -Returns whether this set contains another set or not

In [152]:
#Return True if all items set y are present in set x:

superset = y.issuperset(x)

superset

True

### **7. union()** -The union() method returns a set that contains all items from the original set, and all items from the specified set(s)

In [153]:
# Use union method to combine grocery and clothes
grocery = {"egg", "milk", "banana","orange"}

clothes = {"jeans", "shirt", "shorts"}

shopping_cart = grocery.union(clothes)

shopping_cart

{'banana', 'egg', 'jeans', 'milk', 'orange', 'shirt', 'shorts'}

### **8. isdisjoint()** -Returns whether two sets have a intersection or not

In [154]:
#Check whether grocery and clothes have intersection or not

x = grocery.isdisjoint(clothes)

x

True

### **9. update()** -The update() method updates the current set, by adding items from another set (or any other iterable)

In [155]:
#Insert the items from set y into set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

x

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

### **10. symmetric_difference()** -The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

In [156]:
#Return a set that contains all items from both sets, except items that are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

z

{'banana', 'cherry', 'google', 'microsoft'}