The main idea of this homework is to understand 

        - split function

        - debug the program

        - looping and conditional constructs

In [ ]:
# get the string from the user. convert the string into list 
#input from the user

user_string = input("Enter your string : ");
#convert to list
user_list = user_string.split();
print("User List : ",user_list)

lots_of_spaces = 'hello        how        are      you?';
#convert to list 
list_1 = lots_of_spaces.split();
print("List 1 : ",list_1);

lots_of_comma = 'hello,how,are,you?'
#convert to list
list_2 = lots_of_comma.split(',');
print("List 2 : ",list_2);

# Hint: split

Enter your string : j
User List :  ['j']
List 1 :  ['hello', 'how', 'are', 'you?']
List 2 :  ['hello', 'how', 'are', 'you?']

In [ ]:
# Find the bug 
# calculate the 2 to the power of 5 
# ^ is used for xor operation, ** is used for power
2 ** 5

32

In [ ]:
# Develop Arithmetic calculator based on user choice the program should perform arithmetic operation (Any 7 opeations)

#User Choices
print("Arithmatic Calculator\n");
print("Select 1 to Perform Addition");
print("Select 2 to Perform Substraction");
print("Select 3 to Perform Multiplication");
print("Select 4 to Perform Division");
print("Select 5 to Perform Integer Division");
print("Select 6 to Find Modulus");
print("Select 7 to Find Power");
print("\n")

#user input
choice = int(input("Enter your choice  : "))
num_1 = int(input("Enter Number 1     : "));
num_2 = int(input("Enter Number 2     : "));
print("\n")

#Conditional Statements
if choice ==1 :
  print("Sum      :", num_1 + num_2);
elif choice == 2 :
  print("Substraction :", num_1 - num_2);
elif choice == 3 :
  print("Product :", num_1 * num_2);
elif choice == 4 :
  print("Division :", num_1 / num_2);
elif choice == 5 :
  print("Integer Division :", num_1 // num_2);
elif choice == 6 :
  print("Modulo :", num_1 % num_2);
elif choice == 7 :
  print("Power  :", num_1 ** num_2);
else : 
  print("Invalid Choice");

Arithmatic Calculator

Select 1 to Perform Addition
Select 2 to Perform Substraction
Select 3 to Perform Multiplication
Select 4 to Perform Division
Select 5 to Perform Integer Division
Select 6 to Find Modulus
Select 7 to Find Power


Enter your choice  : 5
Enter Number 1     : 10
Enter Number 2     : 20


Integer Division : 0

In [ ]:
# Develop String Calculator based on user choice the program should perform string operations (Any 5 operations )
#User Choices
print("String Calculator\n");
print("Select 1 to count number of characters in a string");
print("Select 2 to convert string to a list");
print("Select 3 to make the string uppercase");
print("Select 4 to replace specific value in a string");
print("Select 5 to find an element in the string");
print("\n")

#user input
choice = int(input("Enter your Choice   : "));
user_string = input("Enter your string : ");
print("\n")

if choice == 1:
  print("Number of Characters    : ", len(user_string));
elif choice == 2:
  print("List   : ", user_string.split());
elif choice == 3:
  print("Uppercase String  : ", user_string.upper());
elif choice == 4:
  to_replace = input("Enter Old Character or String  : ");
  replace_with = input("Enter new Character or String  : ");
  print("Replaced String : ",user_string.replace(to_replace,replace_with));
elif choice == 5:
  find = input("Enter Character or string to find : ");
  print("Character or string found in  position %d"%(user_string.find(find)));
else :
  print("Invalid Choice");

String Calculator

Select 1 to count number of characters in a string
Select 2 to convert string to a list
Select 3 to make the string uppercase
Select 4 to replace specific value in a string
Select 5 to find an element in the string


Enter your Choice   : 5
Enter your string : Hey how are you?


Enter Character or string to find : how
Character or string found in 4 position

In [3]:
# Write a program to prompt the user for hours and rate per hour to compute gross pay.
# Take into account that the university gives the employee 2.5 times the hourly rate for hours worked above 50 hours.

#User Input 
hours_worked = int(input("Enter Total Hours Worked : "));
rate_per_hour = int(input("Enter Rate Per Hour      : "));
gross_pay = 0;
print("\n");

#hours worked greater than 50

if hours_worked > 50 :
  extra_hours = hours_worked - 50; #hours above 50
  gross_pay = 50 * rate_per_hour + extra_hours * 2.5 * rate_per_hour;
  print("Gross Pay    : ", gross_pay);
#hours worked between 0 and 50

elif hours_worked > 0 and hours_worked <= 50:
  gross_pay = hours_worked * rate_per_hour;
  print("Gross Pay    : ", gross_pay);

# Invalid Inputs
else :
  print("Invalid Input");

Enter Total Hours Worked : 49
Enter Rate Per Hour      : 10


Gross Pay    :  490

In [5]:
# Create a list called hobbies. Create a for loop that prompts the user for a hobby 3 times, then appends each one to hobbies in the list
# Hint 1 : List 
# Hint 2 : append 
#Create empty list
hobbies = [];

#User prompt
for i in range(3):
  list_item = input("Hobby %d "%(i+1));
  #append to hobbies
  hobbies.append(list_item);

print(hobbies);

Hobby 1 Reading
Hobby 2 Music
Hobby 3 Take
['Reading', 'Music', 'Take']

In [9]:
# Write a Python program to check whether the given integer is a multiple of both 5 and 7 . 

integer = 35

#Use modulus 
if integer % 5 == 0 and integer % 7 == 0 :
  print("%d is a multiple of both 5 and 7 "%integer);
else :
  print("%d is not a multiple of 5 and 7"%integer);

35 is a multiple of both 5 and 7

In [68]:
# Find the error and correct the mistakes 
# the main idea of this code is to print the data from the dictionary (Data structure)

phone_book = {
'John' : [ '8592970000', 'john@xyzmail.com', 'Humpi' ],
'Bob': [ '7994880000', 'bob@xyzmail.com','Manipal' ],
'Tom' : [ '9749552647' , 'tom@xyzmail.com','Udupi' ]}

for k,v in phone_book.items():
  print(k, ":", v)

John : ['8592970000', 'john@xyzmail.com', 'Humpi']
Bob : ['7994880000', 'bob@xyzmail.com', 'Manipal']
Tom : ['9749552647', 'tom@xyzmail.com', 'Udupi']

In [12]:
# Find the bug 
# print all the numbers between 2 and 8 

list = [i for i in range(3,9) ]
print(list)

[3, 4, 5, 6, 7, 8]

In [15]:
# find the bug
# Suppose you are trying to compute a signal-to-noise ratio in
# decibels. The formula is SNRdb = 10log10(Psignal /Pnoise).

import math
signal_power = 9
noise_power = 10

ratio = signal_power / noise_power
print(ratio)

decibels = 10 * math.log10(ratio) #Throws value error if ratio is 0 or negative
print (decibels)

0.9
-0.4575749056067512

In [17]:
# Check whether the number is present in the list or not 
list = [1, 2, 3, 4, 5 ]
# in is used to check whether the member is present or not 

#number to be checked
a = 3

if a in list :
  print("%d is present in the list"%a); 
else: 
  print("%d is not present in the list"%a);

3 is present in the list

In [22]:
# check whether the number is same or not 
# use of identity opeartor is 
# find the bug 
"""
Identity operators are used to compare the objects, 
not if they are equal, but if they are actually the same object, 
with the same memory location:
  is ->  Returns true if both variables are the same object
  is not -> Returns true if both variables are not the same object
"""
a=10
b=10 
if ( a is not  b ):
  print ("a and b do not have same identity")
else:
  print ("a and b have same identity")

a and b have same identity

In [29]:
# Find the bug 

# Prints out 0,1,2,3,4 using while loop
count = 0
while True:
    print("",count,end="")
    count += 1
    if count >= 5:
      break

 0 1 2 3 4

In [34]:
# Prints out only even numbers - 2,4,6,8,10 using for loop and continue
# find the bug 

for x in range(1,11):
    # Check if x is even
    if not x % 2 == 0:
        continue
    print("",x,end="")

 2 4 6 8 10

In [37]:
# Printing even and odd numbers using for loop and ternary operator
# find the bug 

for x in range(1,11):
    print(str(x) + " is even number") if(x % 2 == 0) else print(str(x) + " is odd number")

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

In [46]:
# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 5 and 4570 (both included).
count = 0;
for x in range(5,4571):
  if x % 5 !=0 and x % 7 == 0:
    print("",x,end="");

 7 14 21 28 42 49 56 63 77 84 91 98 112 119 126 133 147 154 161 168 182 189 196 203 217 224 231 238 252 259 266 273 287 294 301 308 322 329 336 343 357 364 371 378 392 399 406 413 427 434 441 448 462 469 476 483 497 504 511 518 532 539 546 553 567 574 581 588 602 609 616 623 637 644 651 658 672 679 686 693 707 714 721 728 742 749 756 763 777 784 791 798 812 819 826 833 847 854 861 868 882 889 896 903 917 924 931 938 952 959 966 973 987 994 1001 1008 1022 1029 1036 1043 1057 1064 1071 1078 1092 1099 1106 1113 1127 1134 1141 1148 1162 1169 1176 1183 1197 1204 1211 1218 1232 1239 1246 1253 1267 1274 1281 1288 1302 1309 1316 1323 1337 1344 1351 1358 1372 1379 1386 1393 1407 1414 1421 1428 1442 1449 1456 1463 1477 1484 1491 1498 1512 1519 1526 1533 1547 1554 1561 1568 1582 1589 1596 1603 1617 1624 1631 1638 1652 1659 1666 1673 1687 1694 1701 1708 1722 1729 1736 1743 1757 1764 1771 1778 1792 1799 1806 1813 1827 1834 1841 1848 1862 1869 1876 1883 1897 1904 1911 1918 1932 1939 1946 1953 1967 1974 1981 1988 2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199 3206 3213 3227 3234 3241 3248 3262 3269 3276 3283 3297 3304 3311 3318 3332 3339 3346 3353 3367 3374 3381 3388 3402 3409 3416 3423 3437 3444 3451 3458 3472 3479 3486 3493 3507 3514 3521 3528 3542 3549 3556 3563 3577 3584 3591 3598 3612 3619 3626 3633 3647 3654 3661 3668 3682 3689 3696 3703 3717 3724 3731 3738 3752 3759 3766 3773 3787 3794 3801 3808 3822 3829 3836 3843 3857 3864 3871 3878 3892 3899 3906 3913 3927 3934 3941 3948 3962 3969 3976 3983 3997 4004 4011 4018 4032 4039 4046 4053 4067 4074 4081 4088 4102 4109 4116 4123 4137 4144 4151 4158 4172 4179 4186 4193 4207 4214 4221 4228 4242 4249 4256 4263 4277 4284 4291 4298 4312 4319 4326 4333 4347 4354 4361 4368 4382 4389 4396 4403 4417 4424 4431 4438 4452 4459 4466 4473 4487 4494 4501 4508 4522 4529 4536 4543 4557 4564

In [58]:
# Write a program which accepts input to convert the temperature from one unit to another based on user choice 
# fahrenheit to celsius or celsius to fahrenheit until they say "Quit".
#Flag to toggle while loop
flag = True;


while flag:
  print("\nSelect 1 for Fahrenheit to Celsius");
  print("Select 2 for Celsius to Fahrenheit\n");
  choice = int(input("Enter your choice : "));
  print("\n");
  if choice == 1:
    celsius = float(input("Enter Temperature in Celsius : "));
    fahrenheit = celsius * (9/5) + 32;
    print("Fahrenheit      : %.1f\n"%fahrenheit);

    #Ask user if he/she wants to quit
    quit = input("Type 'Quit' to stop");
    if quit == "Quit" or quit == "quit":
      flag = False;
        
  elif choice == 2:
    fahrenheit = float(input("Enter Temperature in Fahrenheit : "));
    celsius = (fahrenheit - 32) * (5/9);
    print("Celsius      : %.1f\n"%celsius);
    
    #Ask user if he/she wants to quit
    quit = input("Type 'Quit' to stop : ");
    if quit == "Quit" or quit == "quit":
      flag = False;
  else:
    print("Invalid Choice\n");
    
    #Ask user if he/she wants to quit
    quit = input("Type 'Quit' to stop : ");
    if quit == "Quit" or quit == "quit":
      flag = False;

# Hint: infinite loop

Select 1 for Fahrenheit to Celsius
Select 2 for Celsius to Fahrenheit

Enter your choice : 2


Enter Temperature in Fahrenheit : 21
Celsius      : -6.1

Type 'Quit' to stop : quit

Write a program that converts the temperature in Celsius to Fahrenheit. Have the program output two columns. In the first column, it prints out the temperature in Celsius, and the second in Fahrenheit. Have the data print out all integer values of Celsius from 0 to 100 in 3 degree increments. Have the data print out the Fahrenheit to 1 decimal

Sample Output (in 4 degree increments for Celsius)![py08_fig1.png]()

sample output

In [54]:
#Celsius to Fahrenheit
print("Celsius\t\tFahrenheit");
celsius = 0;
while (celsius >= 0 and celsius <= 100):
  fahrenheit = celsius * (9/5) + 32;
  print("%d\t\t%.1f"%(celsius,fahrenheit));
  celsius += 3;

Celsius		Fahrenheit
0		32.0
3		37.4
6		42.8
9		48.2
12		53.6
15		59.0
18		64.4
21		69.8
24		75.2
27		80.6
30		86.0
33		91.4
36		96.8
39		102.2
42		107.6
45		113.0
48		118.4
51		123.8
54		129.2
57		134.6
60		140.0
63		145.4
66		150.8
69		156.2
72		161.6
75		167.0
78		172.4
81		177.8
84		183.2
87		188.6
90		194.0
93		199.4
96		204.8
99		210.2